
@{
    ViewBag.Title = "Tesisler";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@model IEnumerable<pentas.Models.Tesisler>

<html>
<head>
    <style>
        .table td, .table th {
            white-space: nowrap;
            font-size: 0.875rem;
        }        
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Tesisler</h4>
                        <p class="sub-header">Tesisler aşağıdaki gibi listelenmiştir.</p>
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Adı</th>
                                        <th>Kapak Fotoğrafı</th>
                                        <th>Map URL</th>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th>Açıklama</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tesis in Model)
                                    {
                                        <tr>
                                            <th scope="row">@tesis.ID</th>
                                            <td>@tesis.adi</td>
                                            <td>@tesis.kapak_foto</td>
                                            <td>@tesis.map_url</td>
                                            <td>@tesis.adres</td>
                                            <td>@tesis.telefon</td>
                                            <td>@tesis.email</td>
                                            <td>@tesis.aciklama</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->
                    </div>
                </div> <!-- end card -->
            </div><!-- end col-->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Silinecek tesisin ID'sini giriniz.</h4>
                        <form role="form">
                            <div class="mb-2">
                                <label for="exampleInputEmail1" class="form-label">ID</label>
                                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                                
                            </div>                                                     
                            <button type="submit" class="btn btn-primary">Sil</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Yeni tesis gir.</h4>
                        <form role="form">
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Adı:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="adi">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Kapak Fotoğrafı:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="kapak_foto" >
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label for="inputPassword5" class="col-sm-3 col-form-label">Map Script</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="map_script" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Adres:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="adres" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Telefon:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="tel" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Email:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="mail" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Açıklama:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="aciklama" >
                                </div>
                            </div>
                            <div class="justify-content-end row">
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary">Ekle</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
