
@{
    ViewBag.Title = "Tesisler";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@model IEnumerable<pentas.Models.Tesisler>

<html>
<head>
    <style>
        .table td, .table th {
            white-space: nowrap;
            font-size: 0.875rem;
        }        
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Tesisler</h4>
                        <p class="sub-header">Tesisler aşağıdaki gibi listelenmiştir.</p>
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Adı</th>
                                        <th>Kapak Fotoğrafı</th>
                                        <th>Map URL</th>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th>Açıklama</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tesis in Model)
                                    {
                                        <tr>
                                            <th scope="row">@tesis.ID</th>
                                            <td>@tesis.adi</td>
                                            <td>@tesis.kapak_foto</td>
                                            <td>@tesis.map_url</td>
                                            <td>@tesis.adres</td>
                                            <td>@tesis.telefon</td>
                                            <td>@tesis.email</td>
                                            <td>@tesis.aciklama</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->
                    </div>
                </div> <!-- end card -->
            </div><!-- end col-->
        </div>
    </div>
</body>
</html>
