@model IEnumerable<pentas.Models.Tesisler>

@{
    ViewBag.Title = "Tesisler";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<html>
<head>
    <style>
        .table td, .table th {
            white-space: nowrap;
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Tesisler</h4>
                        <p class="sub-header">Tesisler aşağıdaki gibi listelenmiştir.</p>
                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Adı</th>
                                        <th>Kapak Fotoğrafı</th>
                                        <th>Map URL</th>
                                        <th>Adres</th>
                                        <th>Telefon</th>
                                        <th>Email</th>
                                        <th>Açıklama</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tesis in Model)
                                    {
                                        <tr>
                                            <th scope="row">@tesis.ID</th>
                                            <td>@tesis.adi</td>
                                            <td>@tesis.kapak_foto</td>
                                            <td>@tesis.map_url</td>
                                            <td>@tesis.adres</td>
                                            <td>@tesis.telefon</td>
                                            <td>@tesis.email</td>
                                            <td>@tesis.aciklama</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->
                    </div>
                </div> <!-- end card -->
            </div><!-- end col--><!-- end col-->
            <!-- Silme Formu -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Silinecek tesisin ID'sini giriniz.</h4>
                        @using (Html.BeginForm("Sil", "Account", FormMethod.Post))
                        {
                            <div class="mb-2">
                                <label for="silinecekID" class="form-label">ID</label>
                                <input class="form-control" name="id" id="silinecekID" aria-describedby="emailHelp" type="number" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Sil</button>
                        }
                    </div>
                </div>
            </div>

            <!-- Ekleme Formu -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Yeni tesis gir.</h4>
                        @using (Html.BeginForm("Ekle", "Account", FormMethod.Post))
                        {
                            <div class="row mb-3">
                                <label for="adi" class="col-sm-3 col-form-label">Adı:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="adi" id="adi" type="text" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="kapak_foto" class="col-sm-3 col-form-label">Kapak Fotoğrafı:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="kapak_foto" id="kapak_foto" type="text" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="map_script" class="col-sm-3 col-form-label">Map Script Url</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="map_url" id="map_url" type="text" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="adres" class="col-sm-3 col-form-label">Adres:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="adres" id="adres" type="text" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="telefon" class="col-sm-3 col-form-label">Telefon:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="telefon" id="telefon" type="text" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="email" class="col-sm-3 col-form-label">Email:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="email" id="email" type="text" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="aciklama" class="col-sm-3 col-form-label">Açıklama:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" name="aciklama" id="aciklama" type="text" required>
                                </div>
                            </div>
                            <div class="justify-content-end row">
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary">Ekle</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
